.columns {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.col {
  width: 400px;
}

.pl {
  padding-left: 10px;
}

.pr {
  padding-right: 10px;
}

li {
  float:left;
  list-style: none;
}
.middle {
  margin-left: 10px;
  margin-right: 10px;
}

.card {
  border: 1px solid black;
  border-radius: 15px;
}

.header {
  border-bottom: 1px solid black;
}

.attack-header {
  text-align: center;
  background-color: #77dd77;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 0;
  padding-top: 18px;
  padding-bottom: 5px;
  overflow: hidden;
}

.hospital-header {
  text-align: center;
  background-color: #ff6961;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 0;
  padding-top: 18px;
  padding-bottom: 5px;
  overflow: hidden;
}

.traveling-header {
  text-align: center;
  background-color: #fdfd96;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding-bottom: 5px;
  margin-top: 0;
  padding-top: 18px;
  overflow: hidden;
}

.member {
  padding-left: 5px;
  padding-bottom: 5px;

}

@media (max-width:500px) {
  p {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .stack {
    display: flex;
    flex-direction: column;

  }
}

.dot-online {
	width: 15px;
	height: 15px;
	background-color: green;
	border-radius: 50%;
	display: inline-block;
}

.dot-idle {
	width: 15px;
	height: 15px;
	background-color: yellow;
	border-radius: 50%;
	display: inline-block;
}

.dot-offline {
	width: 15px;
	height: 15px;
	background-color: grey;
	border-radius: 50%;
	display: inline-block;
}

.tab {
  display: inline-block;
  margin-left: 40px;
}
